@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --FuentePrincipal: "Parkinsans", sans-serif;
  --FuenteSecundaria: "Shadows Into Light", cursive;
  --BlueMain: #0059a7;
  --BlueLight: #2419ff;
  --CoralMain: #d32f2f;
  --DarkMain: #30374f;
}

body {
  font-family: var(--FuentePrincipal);
  scroll-behavior: smooth;
}

hr {
  border: 1px solid var(--BlueMain);
}

.cursiva {
  font-family: var(--FuenteSecundaria);
}

.imgShadow {
  mask-image: linear-gradient(black 90%, transparent);
}

.navbarLink {
  padding: 12px;
  transition: all 300ms ease;
}

.navbarLink:hover {
  background-color: var(--CoralMain);
}

.active {
  background-color: var(--CoralMain);
}

.navbarLinkProduct {
  padding: 12px;
  background-color: white;
  border: 2px solid var(--BlueMain);
  color: var(--BlueMain);
  transition: all 300ms ease;
}

.navbarLinkProduct:hover {
  background-color: var(--BlueMain);
  color: white;
}

.activeProduct {
  background-color: var(--BlueMain);
  color: white;
}

.opacityWhite {
  mask-image: linear-gradient(black 90%, transparent);
}

/* From Uiverse.io by AqFox */
.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}

.btn-1::before {
  background-color: #004dff;
  transition: 0.3s ease-out;
}

.btn-1 span {
  color: rgb(255, 255, 255);
  border: 1px solid #004dff;
  transition: 0.2s 0.1s;
}

.btn-1 span:hover {
  color: #004dff;
  transition: 0.2s 0.1s;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

::before,
::after {
  position: absolute;
  content: "";
}

.btn.hover-filled-slide-left::before {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.btn.hover-filled-slide-left:hover::before {
  width: 0%;
}

/* Testimonial container */
.testimonial-container {
  max-width: 800px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.title h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.1;
}

/* Slider container */
.slider-container {
  position: relative;
  user-select: none;
  padding-inline: 1rem;
}

.slider-container .quote {
  position: absolute;
  z-index: -1;
}

.slider-container .top-quote {
  position: absolute;
  top: -1rem;
  left: -1rem;
}

.slider-container .bottom-quote {
  position: absolute;
  bottom: -3rem;
  right: -0.5rem;
  transform: rotate(180deg);
}

.slider-container .review-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-inline: auto;
}

/* Splide customization */
.splide__track {
  border-radius: 1rem;
}

.splide__slide {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 3rem 1.875rem;
  border-radius: 1rem;
  gap: 1rem;
}

.slider-container .content .text {
  color: #484646;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.slider-container .content .rating {
  display: inline-block;
  line-height: 1;
}

.slider-container .content .star {
  color: #ff6f59;
  font-size: 1.1rem;
}

.slider-container .content .user {
  font-weight: 600;
}

.splide__pagination__page.is-active {
  background-color: #ff6f59;
}

.splide__arrow {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #505050;
  font-weight: 300;
}

.splide__arrow--prev {
  top: 50%;
  left: -3.5rem;
}

.splide__arrow--next {
  top: 50%;
  right: -3.5rem;
}

.splide__pagination__page {
  height: 10px;
  width: 10px;
  opacity: 1;
}

/* Media Query */
@media (max-width: 576px) {
  .splide__slide {
    display: block;
    text-align: center;
  }

  .splide__arrow {
    font-size: 1.5rem;
  }

  .splide__arrow--prev {
    left: 0.5rem;
  }

  .splide__arrow--next {
    right: 0.5rem;
  }

  .slider-container .bottom-quote {
    right: 0;
  }
}

/* BUTTON SUBSCRIBE */
/* From Uiverse.io by alexruix */
.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.inputSubscribe {
  min-height: 50px;
  max-width: 250px;
  padding: 0 1rem;
  color: #636363;
  font-size: 15px;
  border-radius: 6px 0 0 6px;
  background-color: white;
}

.button--submit {
  min-height: 50px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #004dff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: var(--BlueMain);
}

.input:focus,
.inputSubscribe:focus-visible {
  border-color: #3898ec;
  outline: none;
}

/* SOCIAL MEDIA BUTTON */
/* From Uiverse.io by david-mohseni */
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 80px;
  padding-top: 30px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  color: black;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: #00ca0a;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/* FORMULARIO DE CONTACTO */
.container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  border: 1px solid #396afc;
  background: linear-gradient(to bottom, var(--BlueMain), var(--DarkMain));
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container form .descr {
  font-size: 40px;
  font-weight: 500;
  color: #e8e8e8;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.input {
  margin: 1em 0;
  width: 95%;
  position: relative;
}

.input input,
.input textarea {
  font-size: 100%;
  padding: 0.7em 0.4em;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  background: transparent;
  width: 100%;
  resize: none;
}

.input label {
  font-size: 100%;
  position: absolute;
  top: 0.7em;
  left: 0.1em;
  color: #e8e8e8;
  pointer-events: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.input input:focus ~ label,
.input input:valid ~ label,
.input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-1.5em) scale(0.9);
  background: transparent;
}

.form button {
  color: #e8e8e8;
  font-size: 1rem;
  align-self: center;
  padding: 0.6em;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--CoralMain);
  transition: all 0.3s ease-in-out;
}

.form button:hover {
  transform: scale(1.1);
  background-color: #e4405f;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .form button {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .container form .descr {
    font-size: 30px;
  }
  .container {
    width: 100%;
  }
}

/* INICIAR SESION */

.formSignIn {
  background-color: #fff;
  display: block;
  padding: 1rem;
  width: 450px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-titleSignIn {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-containerSignIn {
  position: relative;
}

.input-containerSignIn input,
.formSignIn button {
  margin: 8px 0;
}

.input-containerSignIn input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  border: 1px solid;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-containerSignIn input:focus {
  border: 1px solid var(--BlueLight);
}

.input-containerSignIn .validateInput {
  border: 1px solid rgb(40, 214, 17);
}

.input-containerSignIn input::placeholder {
  color: #30374f;
}

.submitSignIn {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 20px 0;
  background-color: var(--BlueLight);
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  transition: all 200ms ease;
}

.submitSignIn:hover {
  background-color: var(--BlueMain);
}

/* REGISTRAR */
.registerBackground {
  border-radius: 25px 0 0 25px;
  background-image: url("./assets/register.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .registerBackground {
    border-radius: 25px 25px 0 0;
    padding: 10px 0;
  }
}

/* From Uiverse.io by FahadArnob52539 */

.register {
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0 25px 25px 0;
}

@media (max-width: 1024px) {
  .register {
    border-radius: 0 0 25px 25px;
    padding: 10px 0;
  }
}

.loginRegister {
  padding: 20px;
  width: 500px;
}

@media (max-width: 1024px) {
  .loginRegister {
    width: 100%;
  }
}
.haderRegister {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.register form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.register form input {
  height: 40px;
  border: 1px solid;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
}

.register form input:focus {
  border: 1px solid var(--BlueLight);
}

.register form input::placeholder {
  color: #30374f;
}

.register form .btn_register {
  background-color: var(--BlueLight);
  color: #ffffff;
  font-size: 17px;
  padding: 10px 0;
  border-radius: 10px;
  transition: all 200ms ease;
}

.register form .btn_register:hover {
  background-color: var(--BlueMain);
}

.register form span {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  color: #706b6b;
}
.register form span a {
  text-decoration: none;
  color: rgba(36, 36, 207, 0.671);
  font-weight: 500;
}
